* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  width: 100%;
}

.navbar-main {
  background-color: #fff;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  padding: 18px 30px;
}
img.logo {
  width: 110px;
}